.productResultsContainerClass {
    display: inline-block;
    width: 200px;
    border: 1px solid green;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.productDivClass {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    width: 130px;
    height: 100px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;

}

.resultsTextClass {
    text-align: center;
}